<section>
    <div class="container room">
        <div class="room-details">
            <table class="room-players table v-align-middle">
                <thead>
                    <tr>
                        <th class="col-player">Name</th>
                        <th class="col-color">Color</th>
                        <th class="col-ready">Ready?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="room.players.isEmpty()">
                        <td colspan="5" class="empty">
                            Waiting for players...
                        </th>
                    </tr>
                    <tr ng-repeat="player in room.players.items">
                        <td class="col-player">
                            <p class="player-name">{{ player.name }}</p>
                        </td>
                        <td class="col-color">
                            <span class="line-color-preview" style="background-color: {{ player.color }};"></span>
                        </td>
                        <td class="col-ready">
                            <div class="player-ready" ng-class="{ ready: player.ready }">
                                <span>
                                    <i ng-if="player.ready" class="icon-check success"></i>
                                    <i ng-if="!player.ready" class="icon-close success"></i>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
