<section>
    <div class="container room">
        <div class="tutorial">
            <p>Stay alive longer than your oponnents to score points!</p>
        </div>
        <div class="room-details">
            <div class="room-players">
                <div ng-repeat="(index, player) in players" class="slot">
                    <div ng-if="player" class="player" style="background-color: {{ player.color }};">
                        <span class="gamepad">{{ player.index + 1 }}</span>
                        <p class="player-name">{{ player.name }}</p>
                        <div class="player-ready" ng-class="{ ready: player.ready }">
                            <span>
                                <i ng-if="player.ready" class="icon-check success"></i>
                                <i ng-if="!player.ready" class="icon-close success"></i>
                            </span>
                        </div>
                    </div>
                    <div ng-if="!player" class="empty">
                        <span class="gamepad">{{ $index + 1 }}</span>
                        <p>Press start to join!</p>
                    </div>
                </div>
                <div class="circle"></div>
            </div>
        </div>
    </div>
</section>
