body {
  background: $background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  font-weight: $base-font-weight;
  padding-bottom: 92px;
}

::selection {
  background: $text-color;
  color: #FFF;
}
::-moz-selection {
  background: $text-color;
  color: #FFF;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
}

header {
  color: $header-color;
  text-align: center;
  padding: 40px 20px;
  margin: 0;
  position: relative;
  border-bottom: 10px solid #FFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25%;
  @include gradient($header-background-from, $header-background-to);

  .website,
  .twitter {
    font-size: 26px;

    &, &:visited {
      color: #FFF;
    }

    &:hover {
      text-decoration: none;
    }

    &::after {
      content: '';
      width: 40px;
      height: 2px;
      background: #FFF;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .website {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
  }
  .twitter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
  }

  .logo {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &, &:visited {
      line-height: 50px;
      font-family: $base-font-family;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 30px;
      color: $header-color;
    }

    &.animated {
      &:after {
        height: 3px;
        background: $header-color;
      }
    }

    img {
      width: 150px;
      position: relative;
      z-index: 100;
    }

    .brand {
      display: block;
    }
  }
}

#error {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}


#main {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75%;

  .room {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

footer {
  background: $footer-background;
  color: $footer-color;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  bottom: 0;

  a {
    cursor: pointer;

    &, &:visited {
      color: $footer-color;
    }

    &.animated {
      &:after {
        height: 1px;
        background: $footer-color;
      }
    }
  }
}

.elao {
  position: absolute;
  bottom: 50px;
  right: 50px;
  text-align: center;
  color: #888;
  font-size: 24px;
  line-height: 80px;

  .logo-elao {
    width: 80px;
    height: 80px;
    margin-left: 5px;
    vertical-align: bottom;
  }
}

body.game-mode {
  header, footer {
    display: none;
  }
}
